@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope-Medium.ttf);
}
@font-face {
    font-family: Alata;
    src: url(../fonts/Alata-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.ttf);
}